<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registration page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4" action="/signupsubmit" method="GET" >

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example1c">Your Name</label>
                      <input type="text" id="form3Example1c" name="full_name" class="form-control" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Your Email</label>
                      <input type="email" id="form3Example3c" name="email" class="form-control" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c">Password</label>
                      <input type="password" id="form3Example4c" name="pwd" class="form-control" />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                      <input type="password" id="form3Example4cd" name="rpwd" class="form-control" />
                    </div>
                  </div>

                  

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg" >Register</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://lh3.googleusercontent.com/c4SH0oobEi_sMOa-IBQEwbaBoMgKX1ZQ74inycc1AcTRT2vuLSt3OiGfLPC_ij4xvarxUesce1MEJAf7eH5BCSZTNT80HbEcQFqrfklaGQsbz-mU-Ojar4jsVaQsKwyHShrBE_DxFkT4oaC9_BEJ0U_VLWi97KV2BIEj2yzYQohrqgcvZ8jLzltxvsL2tycgVwgcJyN-WIg2GqskxycaH8Cx6YofUuZ8XTL9FIH8sT6a7G0cfmcwUG1JUK_iwRb-FHgRiH47AV7NC0t-dHtcH5B9bE5z27691GTx3vBpb_bv7HpAAIMy9lm56EmX0ECegbi1mQ7Iozfe8bxU7Sj_TKMp0owkVRqYqUgERATqb3t7WV6Ei7C4eWJRXsJ88Vaygt-ibbXsenwcNfJxLbH-0rkfQxAZZhBOKpjjSdiKXt-w7RXTP31m2zZG74dFaxEMIbHU57C2wHgY3TlZbV34pWyQJfNaYPWBc0VegqX0HusLSs8M5y3-gUntRS7qhY02z__4ThKF5Hpx3Ea_TqXQdAhnGDkpoe6YRIYG4wNDt4kG6jz4g7oCJg4k1krEzzRt9iKAktM-Ld2BOKGfaLDajCY5Uk66h_7Nao0tX1WwPDTdF7Q8Ef4ZGhXOXzi7X9-dVnY_kGddLj1V7_R8gwyevhXwD_BXb6bRvRIwLV3ZX1KSOBoiC8UdjrpKqfnom6ytC3IWp1HfyD4F8JQ8GQd-ZZ3FVGMbLTCv8PxqQPA0xyVJVfwzEgo9fVehLhM-cOpSswtmkt0pLoMogVtWxog6DWGR134Ftki8r8cH61ZVUR_l6tZtJRaqn30r8R4YVbi2-SmInMmfveL_MIvZbX3fmzaM9IOXtnFqKPxJQodW3Lx4dnjxeSev58ml5JO6qGquwlQXLKm3j6mS0wPFRl8-iRgv3YdLM4j1xA1EbXVnP1r1ryE=w207-h220-no?authuser=0"
                  class="img-fluid" alt="Sample image" size="200px">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>